body {
  margin: 0;
}
.header {
  margin: 0px;
  height: 80px;
  background-color: #333;
  font-family: arial, sans-serif;
}

.header-top {
  height: 1px;
  border: none;
  border-top: 2px #ff0000 solid;
}

.header-text {
  color: #ffffff;
  vertical-align: middle;
  margin: 0px;
}
.header-image0 {
    width: 50px;
    height: 50px;
}
.pages {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.pages-body {
  display: flex;
  flex: 1;
}

.pages-content {
  flex: 1;
  background-color:#00FFFF;
}

.pages-nav, .pages-ads {
  /* カラム幅は12em */
  flex: 0 0 15em;
  background-color:#FFFFF0;
}

.pages-nav {
  /* ナビゲーションを左に */
  order: -1;
  display: inline-block;
}

.navi-block {
  display: table;
  background-color: #FF7F50;
  margin: 10px;
  padding: 10px;
  width: 110px;
  height: 60px;
  cursor: pointer;
  box-shadow: 2px 2px 1.5px rgba(102, 68, 0,0.2);
}

.navi-image0 {
  display: table;
  vertical-align: middle;
}

.navi {
  font-family: arial, sans-serif;
  font-size: 20px;
  color: #4A2D08;
}

.footer {
  background-color: 	#A9A9A9;
}
s.main-name {
  margin: 20px;
  background-color: #008B8B;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-stert;
}

.main-image00 {
  width: 150px;
  height: 150px;
}

.main-content {
  background-color: #AFEEEE;
}

.page-top-button {
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 30px;
  width: 30px;
  background-color: #B0C4DE;
  opacity: 0.9;
  border-radius: 10px;
  margin: 8px;
  padding: 10px;
  cursor: pointer;
}

.page-top-button:hover{
  background-color: #778899;
}

.page-bottom-button {
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    background-color: #B0C4DE;
    opacity: 0.9;
    border-radius: 10px;
    margin: 8px;
    padding: 10px;
    cursor: pointer;
}

.page-bottom-button:hover{
  background-color: #778899;
}
