<div class="pages">
  <header class="header">
    <div class="header-top">
    </div>
  <h1 class="header-text"><img class="header-image0" src="http://4.bp.blogspot.com/-sbCtoATOMxY/WUdZQZBH3vI/AAAAAAABFEU/Xpq97_EjYPUodIrdEjA6mso9ASmWOCOxgCLcBGAs/s800/pose_touch_hand_man.png">いらすとや速報</h1>

</header>
  <div class="pages-body">
    <main class="pages-content">
      <div class="main-name">
        <h1>加納　慎之佑</h1>
        <img class="main-image00" src="http://2.bp.blogspot.com/-2gnQE53dgwQ/VrP0KiTLSaI/AAAAAAAA3y0/wLPij8AevPg/s800/cult_family.png">
        <div class="main-content">
          <% data.mydata.each do |data| %>
            <h2><%= data['title'] %></h2>
            <ul>
            <% data['elements'].each do |element| %>
              <li><%= element %></li>
            <% end %>
          </ul>
          <% end %>
          <h2>好きなイラストランキング</h2>
          <ul>
            <li>3位</li>
            <img class= "main-image01" src="http://3.bp.blogspot.com/-hG8weryELEw/WVdjzueLTtI/AAAAAAABFMU/QIm4kRafs-4_zh-3AZQoAnmP6kC5mpW0wCLcBGAs/s800/wana_money_man_boroboro.png">
            <li>2位</li>
            <img class= "main-image01" src="http://1.bp.blogspot.com/-M9ZorsaCGzc/Vte24Cd6PLI/AAAAAAAA4T4/bIQPrZgCHho/s800/airgun_women_syufu.png">
            <li>1位</li>
            <img class ="main-image01" src="http://2.bp.blogspot.com/-Vo_Zg1TcAz8/V5NDnu2l8WI/AAAAAAAA8dQ/bVr8Ybi7k9oSX8MH0Af9Kvv5MzW-ccwJQCLcB/s800/ai_pet_family.png">
          </ul>
        </div>
      </div>
    </main>
    <nav class="pages-nav">
      <h2 class="nav-box">Menu</h2>
      <hr>
      <div class="navi-block">
        <img class="navi-image0" src="../images/home_icon.png">
        <a href="./" class= "navi">home</a>
      </div>
      <div class="navi-block">
        <img class="navi-image0" src="../images/about_icon.png">
        <a class="navi">about</a>
      </div>
      <div class="navi-block">
        <img class="navi-image0" src="../images/help_icon.png">
        <a class="navi">help</a>
      </div>
    </nav>
    <aside class="pages-ads">
      <h2 class="ads-box">Twitter</h2>
      <hr>
      <a class="twitter-timeline" href="https://twitter.com/search?q=%E3%81%84%E3%82%89%E3%81%99%E3%81%A8%E3%82%84" data-widget-id="900164970888937472">いらすとやに関するツイート</a>
      <%= javascript_include_tag :twitter %>
    </aside>
  </div>
  <footer class="footer">footer</footer>
  <img href="#" class="page-top-button" src="../images/arrow_up.png">
  <img href="#" class="page-bottom-button" src="../images/arrow_down.png">
</div>
