<div class="pages">
  <header class= "header">
    <div class= "header-top">
    </div>
  <h1 class= "header-text"><img class= "header-image0" src= "http://4.bp.blogspot.com/-sbCtoATOMxY/WUdZQZBH3vI/AAAAAAABFEU/Xpq97_EjYPUodIrdEjA6mso9ASmWOCOxgCLcBGAs/s800/pose_touch_hand_man.png">いらすとや速報</h1>

</header>
  <div class="pages-body">
    <main class="pages-content">
      <div class="main-name">
        <h1>加納　慎之佑</h1>
        <img class = "main-image00"src="http://2.bp.blogspot.com/-2gnQE53dgwQ/VrP0KiTLSaI/AAAAAAAA3y0/wLPij8AevPg/s800/cult_family.png">
        <div class="main-content">
          <h2>出身</h2>
          <ul>
            <li>宗像市</li>
          </ul>
          <h2>好きなこと</h2>
          <ul>
            <li>ペーパークラフト</li>
            <li>授業が２限からの日に１限ギリギリに学校にいって１限に急いでる人見ること</li>
            <li>寿司</li>
          </ul>
          <h2>好きな動物</h2>
          <ul>
            <li>白くま</li>
            <li>ライオン</li>
            <li>クロヒョウ</li>
            <li>チンパンジー</li>
            <li>山猫</li>
          </ul>
          <h2>好きなイラストランキング</h2>
          <ul>
            <li>3位</li>
            <li>2位</li>
            <li>1位</li>
          </ul>
        </div>
      </div>
    </main>
    <nav class="pages-nav">navi</nav>
    <aside class="pages-ads">
      <h2>aside</h2>
      <a class="twitter-timeline" href="https://twitter.com/search?q=%E3%81%84%E3%82%89%E3%81%99%E3%81%A8%E3%82%84" data-widget-id="900164970888937472">いらすとやに関するツイート</a>
      <%= javascript_include_tag 'twitter' %>
    </aside>
  </div>
  <footer class= "footer">footer</footer>
  <img href="#" class= "page-top-button" src="../images/arrow_up.png">
</div>
